.arsip-catatan {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arsip-catatan h2 {
  font-size: 2rem;
  color: var(--text);
  margin-top: 100px;
  text-align: center;
}

.note-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 800px;
}
