.catatan-form {
  padding: 20px;
}

.catatan-form h2 {
  font-size: 2rem;
  color: var(--text);
}

.catatan-form input,
.catatan-form select,
.catatan-form textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.catatan-form .error {
  color: red;
  font-size: 0.9rem;
}

.catatan-form button {
  padding: 10px 15px;
  background-color: var(--button-background-color);
  color: var(--text);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.catatan-form button:hover {
  background-color: var(--text);
  color: var(--background-color);
}
