.daftar-catatan {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daftar-catatan h2 {
  font-size: 2rem;
  color: var(--text);
  margin-top: 100px;
  text-align: center;
}

.search-container {
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--text);
  background-color: var(--input-background);
  transition: border-color 0.2s;
}

.search-input:focus {
  border-color: var(--highlight-color);
  outline: none;
}

.note-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 800px;
}

.note-item {
  margin: 15px 0;
  padding: 15px;
  background-color: var(--button-background-color);
  border-radius: 5px;
  text-align: center;
}

.note-item h3 {
  margin: 0;
  color: var(--text);
}

.note-item p {
  color: var(--text);
  font-size: 0.9rem;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
