.note-item {
    margin: 15px 0;
    padding: 20px;
    width: 800px;
    background-color: var(--note-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(229, 167, 167, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .note-item h3 {
    margin: 0;
    color: var(--text);
  }
  
  .note-item .note-date {
    color: var(--text);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  }
  
  .note-item .note-date svg {
    margin-right: 5px;
  }
  
  .note-item .note-body {
    color: var(--text);
    font-size: 0.9rem;
    text-align: justify; 
    margin-top: 10px;
  }
  
  /* Dark Mode */
  .dark-mode .note-item {
    background-color: #2c2c2c;
  }
  
  .dark-mode .note-item .note-body {
    color: #ffffff; 
  }
  

  .light-mode .note-item {
    background-color: #ffffff;
  }
  
  .light-mode .note-item .note-body {
    color: #242424; 
  }
  