.profil-creator {
  position: relative;
  top: 120px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-headline {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.about-description {
  font-size: 1.1em;
  line-height: 1.6;
}

.about-subheadline {
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: 10px;
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

/* Light mode styles */
:root {
  --background-color: #f1f1f1;
  --text-color: #111111;
  --link-color: #0066cc;
}

/* Dark mode styles */
[data-theme='dark'] {
  --background-color: #111111;
  --text-color: #f1f1f1;
  --link-color: #1e90ff;
}
